<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<strong th:text="${message}" style="color: #03A9F4"></strong>
<strong th:text="${msgsearch}" style="color: #03A9F4"></strong>
<div >
    <form action="/searchByName"  >
        <input type="text" name="search" placeholder="Enter Keyword">
        <button type="submit" >Search</button>
    </form>
</div>
<h2>Manager Product</h2>
<a href="/create">Create Product</a>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Manufacturer</th>
        <th>Action</th>


    </tr>
    <tr th:each="product, status : ${productList}">
        <td th:text="${status.count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${product.id})}">Edit</a>
            <a th:href="@{/delete/{id}(id=${product.id})}">Delete</a>
            <a th:href="@{/view/{id}(id=${product.id})}">View</a>
        </td>
    </tr>
</table>

</body>
</html>

