<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
</head>
<body>

<h2>Ứng dụng mượn sách</h2>

<table>
    <tr>
        <th>Id</th>
        <th>BookId</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Author</th>
        <th>Action</th>
    </tr>
    <tr th:each="book : ${bookList}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.bookId}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.quantity}"></td>
        <td th:text="${book.author}"></td>
        <td>
            <a class="btn btn-warning" th:href="@{/view/__${book.id}__}" role="button">Order</a>
        </td>
    </tr>
</table>
</body>
</html>

